@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,800;1,600&display=swap");
.navigator {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	justify-content: space-evenly;
	width: auto;
	padding: 10px 20px 10px 20px;
	background-color: white;
	color: #543925;
	margin: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.navigator img {
	width: 20px;
	height: 20px;
	padding-left: 15px;
}
.activate {
	background-color: #543925;
	color: #c39971;
}

.line {
	width: 1250px;
	height: 0px;
	justify-content: center;
	align-items: center;
	align-content: center;
	align-self: center;
	justify-content: center;
	justify-items: center;
	margin-left: 100px;
	background: #c39971;
	border: 2px solid #c39971;
}
