@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");

.cardWrapper img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 32px;
	margin-bottom: 22px;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.39));
}

.cardWrapper {
	font-family: "montserrat", sans-serif;
	background: #ffffff;
	box-shadow: -2px 2px 9px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	width: 280px;
	margin: 30px;
	cursor: pointer;
	/* width: 350px; */
}
.cardWrapper .details {
	background: linear-gradient(
		180deg,
		rgba(195, 153, 113, 0) -24.52%,
		#c39971 100%
	);
	border-radius: 5px 5px 0px 0px;
	text-align: center;
}
.lable {
	font-weight: 600;
	font-size: 10px;
	line-height: 17px;
	color: #bbbbbb;
	margin: 0px;
	margin-top: 2px;
	/* margin-bottom: 2px; */
}
.mainWrapper {
	display: flex;
	flex-direction: row;
}
.infoWrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
}
.info {
	display: flex;
	margin: 15px;
	margin-left: 25px;
	flex-direction: column;
	flex-wrap: wrap;
}
.value {
	font-weight: 500;
	font-size: 11px;
	line-height: 17px;
	color: #543925;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.cardWrapper .details div {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 20px;
	color: #543925;
}
