@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');
.header{
   
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding: 20px;
   
    color: #543925;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}
.mainWrapper{
    width: 100%;
}
.searchBar{
    margin: 20px;
    border: 1px solid #543925;
    width: max-content;
    border-radius: 5px;
    display: flex;
    align-items: center;
}.noCatalogue{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #BBBBBB;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'montserrat', sans-serif;
}
.searchBar select{
 border: none;
 outline: none;
 background-color: #FFEBDD;
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 padding: 10px 15px 10px 15px;
 color: #543925;
 border-radius: 5px 0px 0px 5px;


   
}
.searchBar input{
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 10px 15px 10px 15px;
    border-radius: 0px 5px 5px 5px;
    

}
.searchBar  img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 10px;
}
.searchBar select option{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #543925;
    padding: 10px 10px 10px 15px;

}
.catalogueCard{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin: 20px;
}